.nav{
  background-color: cadetblue;
  color: white;
  font-weight:bolder;
}
.card img{
  height:auto;
  max-width:60%;
  border-radius:10px;
  margin-bottom: 10px;

}
.card{
  border: 1px solid beige;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(80, 62, 62);
}
.card-text{
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(0,0%, 30%);

}
.students{
  color: rgb(41, 17, 196);
  font-size:1.5em;
  border: 1px solid black;
  width: 30%;
  margin-left:10px;
  margin-top:5px;
}
.guest{
  background-color: tomato;
}
.welcome-message{
  background-color: rgb(35, 199, 87);
}